html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0
}

img {
  display: block
}

p {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal
}

ul, ol {
  list-style: none
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

select, input {
  vertical-align: middle
}

select, input, textarea {
  font-size: 12px;
  margin: 0
}

input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none
}

textarea {
  resize: none
}

table {
  border-collapse: collapse
}

.margin-left-9 {
  margin-left: 9px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-6-pc{
  margin-left: 6%;
}
.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-25{
  margin-top: 25px;
}
.margin-top-25-pc{
  margin-top: 25%;
}
.margin-top-9 {
  margin-top: 9px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-95 {
  margin-top: 95px;
}

.margin-top-55 {
  margin-top: 55px;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-9 {
  margin-bottom: 9px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-10 {
  margin: 10px;
}

.margin-tb-10 {
  margin: 10px 0;
}
.padding-lr-10 {
  padding: 0 10px;
}
.padding-lr-25 {
  padding: 0 25px;
}

.padding-lr-20 {
  padding: 0 0.2rem;
}

.padding-tb-10 {
  padding: 10px 0;
}

.padding-lr-15 {
  padding: 0 15px;
}

.padding-tb-15 {
  padding: 15px 0;
}

.padding-25 {
  padding: 25px;
}
.padding-bottom-15{
  padding-bottom: 15px;
}
.padding-10 {
  padding: 10px;
}

.padding-0 {
  padding: 0 !important;
}

.padding-left-10 {
  padding-left: 10px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-3 {
  padding-right: 3px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}

.form-width {
  width: 97.5%;
}

.font-size-18 {
  font-size: 0.18rem !important;
}
.font-size-28 {
  font-size: 0.28rem !important;
}

.font-size-14 {
  font-size: 0.14rem !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.default-title-color {
  color: #7485a5;
}

.default-other-color {
  color: #ccc;
}

/*上下左右居中*/
.flex-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

/*上下左右居中*/
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

/*上下左右居中*/
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
}

/*上下左右居中*/
.flex-default {
  display: flex;
  display: -webkit-flex;
}

/*上下居中，左对齐*/
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
}

/*上下居中，右对齐*/
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
}

/*上下居中，右对齐*/
.flex-direction-column-auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
}

/* 纵向分布 居中排列*/
.flex-direction-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}

/* 纵向分布 居左排列*/
.flex-direction-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*纵向平均距离分布*/
  align-items: left;
  display: -webkit-flex;
  -webkit-align-items: flex-start; /*居左对齐*/
}
/* 纵向分布 居左局顶排列*/
.flex-direction-column-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*纵向局顶距离分布*/
  align-items: left;
  display: -webkit-flex;
  -webkit-align-items: flex-start; /*居左对齐*/
}

/* 左对齐 并且自动换行*/
.flex-start-auto-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

/* 水平平均分 */
.flex-box {
  display: -moz-box;
  display: -webkit-box;
  display: -o-flex;
  /*display: box;*/
}

/*分页距离表格的距离*/
.page-control {
  margin-top: 20px;
  text-align: right;
}

/*表格里面的操作的样式一个有右边框一个没有*/
.table-action-btn {
  border-right: 1px solid #ccc;
  padding: 0 10px;
  color: #01baad;
  cursor: pointer;
}

.table-action-last-btn {
  padding-left: 10px;
  color: #227ee1;
  cursor: pointer;
}

.select-type ul li {
  float: left;
  padding: 5px 7px;
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
}

.select-type ul li.active {
  background: #227ee1;
  border-radius: 5px;
  color: #fff;
}

/*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!*/
/*::-webkit-scrollbar*/
/*{*/
/*width: 8px;*/
/*height: 8px;*/
/*background-color: #fafafa;*/
/*}*/

/*!*定义滚动条轨道 内阴影+圆角*!*/
/*::-webkit-scrollbar-track*/
/*{*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*background-color: #F5F5F5;*/
/*}*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fafafa;
}

/*定义滚动条轨道 内阴影+圆角*/
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  display: none;
}

/*定义滑块 内阴影+圆角*/
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, .2);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*字体颜色*/
.font-red {
  color: #f56c6c;
}

.font-blue {
  color: #227ee1 !important;
}
.font-8fc31f {
  color: #8fc31f !important;
}
.font-7485a5 {
  color: #7485a5 !important;
}

.font-dddddd {
  color: #dddddd;
}

.font-cccccc {
  color: #cccccc;
}

.font-aaaaaa {
  color: #aaaaaa !important;
}

/*背景颜色*/
.bg-dark {
  background-color: #aaaaaa !important;
}
.bg-ccc {
  background-color: #cccccc !important;
}

.bg-grey {
  background-color: #f0f0f8 !important;
}

.bg-white {
  background-color: #ffffff !important;
}
.bg-red {
  background-color: red !important;
}

.bg-blue {
  background-color: #227ee1 !important;
}


.el-table .extend .el-table__expand-column .cell {
  display: none;
}

.action-btn span:first-child {
  padding-left: 0;
}

.action-btn span:last-child {
  border-right: 0;
}

/*高度*/
.height-100 {
  height: 100%;
}

.height-30 {
  height: 30px;
}

.line-height-30 {
  line-height: 30px;
}

/*宽度*/
.width-100 {
  width: 100%
}
.width-90 {
  width: 90%
}
.width-80 {
  width: 80%
}
.width-70 {
  width: 70%
}
.width-60 {
  width: 60%
}
.width-50 {
  width: 50%
}
.width-40 {
  width: 40%
}
.width-30 {
  width: 30%
}
.width-33 {
  width: 33.33%
}
.width-20 {
  width: 20%
}
.width-10 {
  width: 10%
}
.width-200-pc {
  width: 200px;
}
.width-80-pc {
  width: 80px;
}
.width-100-pc {
  width: 100px;
}
/*对齐方式*/
.text-align-left {
  text-align: left
}

.text-align-center {
  text-align: center
}

.text-align-right {
  text-align: right
}

/* 定位方式*/
.position-relative {
  position: relative;
}

/* 必填 */
.required:after {
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}

/* 鼠标手势 */
.cursor-pointer {
  cursor: pointer;
}

/* border */
.border-top-eee {
  border-top: 1px solid #eeeeee;
}
.border-bottom-eee {
  border-bottom: 1px solid #eeeeee;
}
.border-right-eee {
  border-right: 1px solid #eeeeee;
}

.border-eee {
  border: 1px solid #eeeeee;
}
.border-fff {
  border: 1px solid #ffffff;
}

.border-blue {
  border: 1px solid #227ee1;
}

.input-error {
  border-color: #f56c6c !important;
}
.flex_self {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex!important;
}
.upload-img{
  width: 100px;
  height: 100px;
  display: inline-block;
}
.upload-img >span:nth-child(1){
  width: 100px;
  height: 100px;
  display: inline-block;
}
.upload-img img{
  width:100%!important;
  height:100%;
}
.upload-img >span:nth-child(2){
  margin-bottom: 10px;
}

.upload-img input{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
}
.upload-btn {
  margin-top: 66px;
  margin-left: 22px;
  position: relative;
  background: #01baad;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  border-radius: 5px;
  line-height: 34px;
}
.upload-btn input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}
.input-with-select {
  width: 400px;
}
/*.el-scrollbar__wrap{*/
/*overflow-x: hidden!important;*/
/*}*/
.el-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(63, 64, 65, 0.3) !important;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
}

